<div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center"> 
    <mat-card class="mat-elevation-z3">
        <mat-card-title>Dice</mat-card-title>
        <mat-card-content>
            <fa-icon class="die" *ngFor="let die of dice" [icon]="faDice[die - 1]" size="6x" [styles]="{'color': '#673ab7'}"></fa-icon>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="roll()">Reroll</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" *ngIf="combinations.length > 0">
        <mat-card-title>Combinations</mat-card-title>
        <mat-card-content>
            <mat-chip-list aria-label="Combinations">
                <mat-chip selected *ngFor="let combo of combinations">{{ combo }}</mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
</div>