<mat-toolbar color="primary" class="navbar">
    <div>
        <span>Kivi</span>
    </div>
    <div>
        <button mat-icon-button aria-label="My Account">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>